div{
    width: 400px;
    height: 200px;
    background-color: #7aa874;
    margin: 10px auto;
    background-image: url("https://cdn.britannica.com/84/188484-050-F27B0049/lemons-tree.jpg");
    background-size: contain ;
    color: white;
}