#container{
    height: 600px;
    width: 60%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
   display: flex;
   flex-direction: row;
  justify-content:flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  
}
#org{
    align-self: flex-start;
    /*flex-basis: 100px;*/
    /*flex-grow: 1;*/
    flex-shrink: 2 2 100px;
}
#blue{
    /*flex-basis: 400px;*/
   /* flex-grow: 3;*/
   /* max-width: 400px;*/
   flex-shrink: 1;
}
h1{
    text-align: center;
}
#container div{
    height: 100px;
    width: 300px;
    color: white;
    text-align: center;
    font-size: 1.5em;

}