.box{
    width: 100px;
    height: 300px;
    background-color: chartreuse;

   /* animation-name: colorAnimation;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count:infinite;
    animation-direction:alternate;*/
    animation: colorAnimation 2s ease-in 0s infinite alternate;
}

@keyframes fontAnimation{
    from{
        font-size: 20px;
    }
    to{
        font-size: 40px;
    }
}
@keyframes colorAnimation{
     0%{
        background-color: aqua;
    }
    50%{
        background-color: yellow;
    }
    100%{
        background-color: crimson;
    }
}